@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* FONT WEIGHT */
    --thin: 100;
    --thin-extralight: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;
    --black: 900;
    /* COLORS */
    --background-to-page: #F4F4F4;
    --border-bottom: #c7ccd171;
    --btn--studio: #00000054;
    --icon: rgb(0, 0, 0);
    --contraste: #b5afe11b;
    --color_alterno: #54180407;
    
}

body {
    background-color: var(--background-to-page);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Header  */

#header {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background-to-page);
    border-bottom: 2px solid var(--border-bottom) ;
    -webkit-box-shadow: -1px 7px 13px -6px rgba(209,198,209,1);
    -moz-box-shadow: -1px 7px 13px -6px rgba(209,198,209,1);
    box-shadow: -1px 7px 13px -6px rgba(209,198,209,1);
    z-index: 10;
}

.header-elements {
    padding: 0 70px;
    display: flex;
    justify-content: start;
}

#header img {
    width: 200px;
    position: absolute;
    top: -55px;
}

/* Iframe instagram */

#ig-permanecer {
    margin: 0 10px;
    position: fixed;
    top: 110px;
    left: 0;
    background: var(--background-to-page);
}

/* Main y Title */

.main {
    position: relative;
    left: 500px;
    top: 110px;
    width: 55vw;
}

.main-box {
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.page-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.pasaje-title {
    padding: 20px;
    max-width: 500px;
    background: var(--color_alterno);
    border-radius: 15px;
    font-style: italic;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
}


/* REDES DEL GRUPO */

.redes {
    margin: 20px;
}

.redes-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    transition: all .5s;
}

.redes-items i:hover {
    scale: 1.3;
    transition: all .5s;
}

.redes-items-ig i {
    color: rgb(223, 12, 132);
    font-size: 30px;
    transition: all .5s;
}

.redes-items-fb i {
    color: rgb(43, 40, 123);
    font-size: 30px;
    transition: all .5s;
}

.redes-items-yt i {
    color: rgb(218, 23, 56);
    font-size: 30px;
    transition: all .5s;
}

#redes-items-spotify i {
    color: rgb(53, 131, 8);
    font-size: 30px;
    transition: all .5s;
}


/* CRONOGRAMA */

#cronograma {
    margin: 20px;
    padding: 40px;
    width: 800px;
    background: var(--border-bottom);
    text-align: center;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: all 3s ease-in-out;
}

.cronograma--table tr:nth-child(1) {
    background: var(--contraste);
}

.cronograma--table td {
    border: solid 2px #541804;
    border-collapse: collapse;
    width: 175px;
    height: 40px;
}

/* Estudios */

#estudios {
    margin: 20px;
    padding: 40px;
    width: 800px;
    height: auto;
    background: var(--border-bottom);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    display: none;
    transition: all 3s ease-in-out;
}

.estudios-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.estudios-title p {
    font-size: 12px;
}

.estudios--conteiner {
    padding: 10px;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background: var(--btn--studio);
    border-radius: 10px;
}

.estudios--conteiner:hover {
    opacity: .90;
}

.estudios--conteiner a {
    color: var(--icon)
}

.estudios--conteiner p {
    color: var(--icon);
}

.btn {
    width: 200px;
    height: 45px;
    background: var(--contraste);
    border: solid 2px var(--color_alterno);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(19, 1, 1, 0.285);
    -moz-box-shadow: 5px 5px 5px 0px rgba(19, 1, 1, 0.285);
    box-shadow: 5px 5px 5px 0px rgba(19, 1, 1, 0.285);
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn p {
    color: var(--icon);
    font-weight: var(--medium);
}

.btn a {
    text-decoration: none;
}

.btn:hover {
    background-color: #F4F4F4;
    border: solid 2px var(--icon);
    transition: all 0.5s ease-in-out;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    display: none;
}

/* INTRO A LA PAGINA */

#to-welcome {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 100;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#to-welcome-showpage {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 125;
    animation: opacity 5s ease-in;
    background:var(--background-to-page);
    border: solid 2px black;
    
}

.to-welcome-conteiner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.to-welcome-conteiner video {
    height: 90vh;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    animation: opacity 1.5s ease-in;
    border-radius: 15px;
}

/* Mostrar Iframe de Spotify */

#show-spotify { 
    position: fixed;
    top: 75px;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 5;
    display: none;
}

#show-spotify iframe {
    width: 400px;
    height: 450px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25%;
}

/* DISEÑO RESPONSIVE */

@media (max-width: 1420px) {


    #ig-permanecer {
        display: none;
    }

    .main {
        margin-top: 80px;
        position: static;
        left: 0px;
        top: 110px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

    }

    .main-box {
        margin: 25px 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .page-title {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .footer {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--background-to-page);
        border-top: solid 1px var(--border-bottom);
    }

}

@media (max-width: 920px) {

    .header-elements {
        justify-content: center;
    }

    #cronograma,
    #estudios {
        width: 600px;
    }

    .cronograma--table td:nth-child(4) {
        display: none;
    }

    .to-welcome-conteiner video {
        height: 80%;
    }

    #to-welcome-showpage {
        width: 150px;
        bottom: 15%;
    }


}

@media (max-width: 650px) {

    #cronograma,
    #estudios {
        width: 400px;
    }

    .cronograma--table td { 
        width: 120px;
        height: 40px;
        font-size: 13px;
    }

    .estudios--conteiner {
        width: 350px;
    }

}

@keyframes opacity {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

