@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Shippori+Antique+B1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    font-family: 'Shippori Antique B1', sans-serif;
    scroll-behavior: smooth;
}

.header {
    height: 150px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.header img {
    width: 150px;
}

.redes{
    padding: 10px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 15px;
}

.redes a {
    background-color: rgba(236, 12, 146, 0.062);
    color: crimson;
    
}

.redes input {
    display: none;
}

.redes i {
    font-size: 40px;
}

.crono {
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.crono--table {
    width: 70%;
    border-collapse: collapse;
}

.crono--table td {
    padding: 5px;
    width: 150px;
    height: 40px;
    border: solid 2px black;
}

.crono--table--head {
    background-color: #d622229f;
}

.crono--table--title {
    background-color: #e31b1b0b;
}

.estudios {
    margin: 50px 10px 0 10px;
    padding: 25px;
    border-radius: 10px;
    background-color: #e31b1b0b;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}

.estudios input {
    display: none;
}

.estudios i {
    font-size: 50px;
    color: #171717;
}

.estudios i:hover {
    color: rgba(0, 0, 0, 0.8);
}

.estudios--info {
    padding: 10px 20px;
    border-radius: 15px;
    width: 450px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b82c2cbd ;
    box-shadow: 10px 10px 21px 0px rgba (41,124,124,0.34);
    -webkit-box-shadow: 10px 10px 21px 0px #b82c2c6b;
    -moz-box-shadow: 10px 10px 21px 0px #b82c2c6b;
    transition: all .5s ease;
}

.estudios--info:hover {
    background-color: #d622229f;
    transition: all .5s ease;
}

.estudios--info p {
    font-size: larger;
    color: #171717;
}

.letrasyacordes {
    background-color: rgba(15, 177, 177, 0.06);
    color:  black;
    gap: 25px;
}

.letrasyacordes--info {
    background-color: rgba(15, 177, 177, 0.548);
    box-shadow: 10px 10px 21px 0px rgba (41,124,124,0.34);
    -webkit-box-shadow: 10px 10px 21px 0px rgba(41,124,124,0.34);
    -moz-box-shadow: 10px 10px 21px 0px rgba(41,124,124,0.34);
}

.letrasyacordes--info:hover {
    background-color: rgba(15, 177, 177, 0.784)
}

.letrasyacordes p {
    overflow: hidden;
}

.letrasyacordes--box {
    display: flex;
    gap: 25px;
}

.letrasyacordes--box i:hover {
    color: rgba(0, 0, 0, 0.8);
}

.conexiones {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlist {
    margin: 50px 10px 0 10px;
}

.footer--info {
    width: 100%; 
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a7a7a7;
}

.footer--info ul {
    display: flex;
    gap: 70px;
}

.footer--info li {
    display: flex;
    flex-direction: column;
}

.footer--info a {
    color: white;
}



@media (max-width:920px) {

    .footer--info {
        height: 250px;
    }

    .footer--info ul {
        flex-direction: column;
        gap: 25px;
    }

    .estudios--info {
        width: 400x;
        height: 75px;
    }

    .letrasyacordes--box {
        gap: 15px;
    }
    
    .crono {
        margin: 0 10px;
    }
    
    .crono--table {
        width: 100%
    }
    
}